@keyframes hidecontent {
	0%   { 
		opacity: 1;
	 }
	 25%   { 
		opacity: 0.75;
	 }
	 50%   { 
		opacity: 0.5;
	 }
	 75%   { 
		opacity: 0.25;
	 }
	 100%   { 
		opacity: 0;
	 }
}

 /* Loading container */
 .loading {
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 max-width: 90vw;
	 opacity: 1;
 	 animation: hidecontent 0s 8s forwards;
 }
 
 /* Loading bar background */
 .loading-bar {
	position: relative;
	max-width: 90vw;
	height: 2px;
	background-color: #2D2454;
}

/* loading bar progress */
.loading-progress{
	position: absolute;
	width: 0px;
	height: 2px;
	background-color: #4F38A2;
	animation: loading-progress 7.5s linear forwards;
} 

/* Animation progress line */
@keyframes loading-progress {
	0% { width: 0vw; }
	
	100% { width: 47vw; }
}

.percent {
	padding-top: 4px;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	color: #E5E5E5;
}

/* Numbers rolling counter */
.loop {
position: absolute;
width: 60px;
height: 20px;
overflow: hidden;
color: #E5E5E5;
font-family: 'Roboto', sans-serif;
font-size: 24px;
font-weight: 600;
}
.loop:after {
position: absolute;
margin-right: 10px;
content: attr(data-val);
line-height: 20px;
text-align: center;
animation: loop 9.5s linear forwards;
}

@keyframes loop {
0% { margin-top: 0px; }
10% { margin-top: 0px; }
15% { margin-top: -20px; }
20% { margin-top: -20px; }
25% { margin-top: -40px; }
30% { margin-top: -40px; }
35% { margin-top: -60px; }
40% { margin-top: -60px; }
45% { margin-top: -80px; }
50% { margin-top: -80px; }
55% { margin-top: -100px; }
60% { margin-top: -100px; }
65% { margin-top: -120px; }
70% { margin-top: -120px; }
75% { margin-top: -140px; }
80% { margin-top: -140px; }
85% { margin-top: -170px; }
}
